black
coverage
debugpy
django-coverage-plugin
django-debug-toolbar
django-stubs
djangorestframework-stubs
djlint
flake8
flake8-isort
ipdb
ipython
lxml
mypy
pdoc3
pipdeptree
pre-commit
pylint
pylint-celery
pylint-django
pylint-print
pytest
pytest-cov
pytest-django
pytest-profiling
pytest-sugar
ruff
types-requests
Werkzeug
watchfiles
factory-boy

